# Impor packages

In [7]:
#!pip install pandas
import pandas as pd

In [2]:
import sys
sys.version

'3.11.7 (tags/v3.11.7:fa7a6f2, Dec  4 2023, 19:24:49) [MSC v.1937 64 bit (AMD64)]'

In [8]:
import os
os.getcwd()

'D:\\Belajar Data Analisis\\python'

# Impor data dari Microsoft Excel ke DataFrame

In [9]:
df_excel = pd.read_excel('Online Retail Data.xlsx', sheet_name='Online Retail Data', header=0)
df_excel

,order_id,product_code,product_name,quantity,order_date,price,customer_id
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346.0
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346.0
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,NaN
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,NaN
...,...,...,...,...,...,...,...
461768,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,NaN
461769,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,NaN
461770,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,NaN
461771,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,NaN
461772,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,NaN

In [34]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  datetime64[ns]
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 24.7+ MB

# Impor data dari CSV ke DataFrame

In [10]:
df_csv = pd.read_csv('Online Retail Data.csv', header=0)
df_csv

,order_id,product_code,product_name,quantity,order_date,price,customer_id
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346.0
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346.0
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,NaN
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,NaN
...,...,...,...,...,...,...,...
461768,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,NaN
461769,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,NaN
461770,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,NaN
461771,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,NaN
461772,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,NaN

In [11]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  object
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 24.7+ MB

# Impor data dari Google Sheets ke DataFrame
Langkah-langkah persiapan:
1. Login ke Google Cloud Console (https://console.cloud.google.com/)
2. Buat project (jika belum punya sebelumnya)
3. Enable Google Drive API dan Google Sheets API di APIs and Services
4. Buat service account, simpan/salin alamat email service account
5. Buat credential key dan ekspor sebagai JSON
6. Berikan akses edit ke email service account (poin 2) di file Google Sheets yang hendak di-import

In [1]:
# pip install gspread
import gspread as gs

In [2]:
sheet_id = '1Kr7H0xQ9qc9mbQNfJ5FrDtLUjNj9e9u-Ud7lw-1r-0w'
sheet_name = 'coba'
gc = gs.service_account('aldi-project1234-9b8a3d30491f.json')
sheet = gc.open_by_key(sheet_id).worksheet(sheet_name).get_all_records()
df_sheets = pd.DataFrame(sheet)
df_sheets

FileNotFoundError: [Errno 2] No such file or directory: 'aldi-project1234-9b8a3d30491f.json'

In [3]:
df_sheets.info()

NameError: name 'df_sheets' is not defined